html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address,big, cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, button
h1, h2, h3,h4, h5, h6, p, div, section, header, a, blockquote, b
{
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto-Thin', sans-serif;
}
/*резина*/
html{
    font-size: 1,46vw;
}
body{
    min-width: 320px;
}
/***Ссылки***/
/*?*/
a:not(h2){
    color: white;
}
/* зеленый пр наведении шапка */
ul a:hover{
    color: #90d23d;
}
/*черный при наведении остальное*/
a:hover{
    color: #252525;
}
/*Откл. подчеркивание*/
.text-normal{
    text-decoration: none;
}
h2 
{
    font-family: 'Roboto';
    font-size: 50px;
    text-align: center;  
    text-align: center;
    font-weight: 500;
}
h3 {
    font-size: 35px;
    font-family: "Roboto";
    color: rgb(36, 36, 36);
    line-height: 1.2;
    text-align: center;
    font-weight: 900;
}

  

/*** I***/
/***Шапка***/
/**Лого и меню**/
.flex1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 54px;
    flex-wrap: wrap;
    
} 
.flex1 ul{
    list-style: none;
}
.flex1 li {
    display: inline-block;
    padding-right: 40px;
    color: #fff;
}
/*Для основного текста на сайте*/
.simple-text{
    font-size: 14px;
    font-weight: 100;
    color: white;
}
/**h1**/
.main{
    margin-top: 175px;   
}
h1{
    line-height: 1;
    font-size: 93.49px;
    font-family: 'Roboto-Thin';
    color: rgb(255, 255, 255);
    font-weight: 100;
    text-align: center; 
    -moz-transform: matrix( 0.85646517969581,0,0,0.85570991939625,0,0);
    -webkit-transform: matrix( 0.85646517969581,0,0,0.85570991939625,0,0);
    -ms-transform: matrix( 0.85646517969581,0,0,0.85570991939625,0,0);      
}  

.first-h2 
{
    font-family: 'Roboto-Regular';
    font-size: 58.431px;
    text-align: center;
    color: white;  
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 0.85,0,0,0.85,0,0);
    -webkit-transform: matrix( 0.85,0,0,0.85,0,0);
    -ms-transform: matrix( 0.85,0,0,0.85,0,0);
  
}

.background-top{
    background-size: cover;
    background-image: url(../img/background_top.png);
    min-height: 1000px;
    width: auto; 
} 

/*подключаем некоторе дерьмо*/
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
}
/**II. Добро пожаловать**/
.welcome{
    width: 515px; 
    padding: 34px 30px;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    position: absolute;
    top: 635px;
    left: 685px;
}
.welcome h3{
    text-align: left;
    padding-bottom: 28px; 
    font-size: 39px;  
}
.welcome_text-block {
    padding-bottom: 8px;
}

/***III. Почему мы?***/
/* картинки выровнять относительно их нижней границы*/
.width-content{
    max-width: 1030px;
    margin: auto;
    overflow: hidden;
}
.width-content h2
{
    margin-bottom: 117px;
    text-align: left;
}
.img-warp{
    height: 211px;
    position: relative;
    margin-bottom: 40px;
}
.img-warp img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.sections{
    float: left;
    text-align: left;
    width: 33%;
    vertical-align: top;
}
.sections p{
    text-align: center;
}

/****IV. Таблица фильмов****/
.movie-list{
    max-width: 1030px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}
.movie-list__header{
    margin: 0 0 76px;
    text-align: center;
}

.movie-list__table{
    width: 1030px;
    border-collapse: collapse;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.movie-list__table th{
    font-size: 22px;
    font-weight:900;
    color: #fff;
    background: #a3cc40;
    padding: 21px 0;
    text-align: left;
}
.movie-list__table th:first-child{
    text-align: center;
}
.first_colomn  td:first-child{
    text-align: center;
}
.movie-list__table td {
    font-size: 22px;
    font-weight: 100;
    color: #fff;
    padding: 19px 0;
}
tr:nth-child(3n+1){
    background: #373737;
}
tr:nth-child(3n+2){
    background: #4b4d4f; 
}
tr:nth-child(3n+3){
    background: #6c6c6c;
}
.last_line tr:last-child td:nth-child(1){
    border-bottom-left-radius: 15px;
}
.last_line tr:last-child td:nth-child(4){
    border-bottom-right-radius: 15px;
}

/*перестал слушаться*/
.movie-list__table__undertable td{
    font-size: 14px;
    font-weight: 100;
    color: gray;
    background: white;
    padding-top: 40px;
}
/*ширина колонок*/
.widthcolomn {
    padding-inline: 25px;
}
.widthcolomn__firstcolomn{
    width: 180px;
}
/*описание таблицы*/
.disclaimer {
    margin: 30px auto 0;
    max-width: 830px;
    padding: 0px 0 0px; /*90px 0 60px;*/
}


/***Получить подарок***/
.background2{
    background-size: cover;
    background: url(../img/background_two.png);
    width: 1366px;
    min-height: 700px;
}
  
.movies_flex{
padding-left: 200px;
padding-right: 200px;
}
.movies_flex h2{
    padding-top: 90px; 
}
.movies_flex p{
    padding-top: 50px;
    padding-bottom: 80px;
}
  