html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address,big, cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, button
h1, h2, h3,h4, h5, h6, p, div, section, header, a, blockquote, b
{
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*ссылки цвет*/
a{
    color: white;
}
/*Откл. подчеркивание*/
.text_normal{
    text-decoration: none;
}
.background_top{
    background-image: url(../img/top_bg.jpg)
}
/*Для основного текста на сайте*/
.simpletext{
    font-size: 14px;
    font-weight: 100; /*не работает*/
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

.movie-list{
padding: 110px 0;
}

.movie-list__header{
        font-size: 50px;
        color: #252525;
        font-weight: 700;
        margin: 0 0 76px;
        text-align: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.movie-list__table{
    width: 1030px;
    height: 375px;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}
.movie-list__table th{
    font-size: 22px;
    font-weight:900;
    color: #fff;
    background: #a3cc40;
    padding: 21px 0;
    text-align: left;
}
/*псевдокласс*//*
tr :nth-child(1){
    font-size: 22px;
    font-weight: 100;
    color: #fff;
    background: #373737;
    padding: 19px 0;
    margin: 0 0 21px; 
}
tr :nth-child(2){
    font-size: 22px;
    font-weight: 100;
    color: #fff;
    background: #4b4d4f;
    padding: 19px 0;
    margin: 0 0 21px;  
}
tr :nth-child(3){
    font-size: 22px;
    font-weight: 100;
    color: #fff;
    background: #6d6d6d;
    padding: 19px 0;
    margin: 0 0 21px;  
}
*/

.movie-list__table__tr1{
    font-size: 22px;
    font-weight: 100;
    color: #fff;
    background: #373737;
    padding: 19px 0;
    margin: 0 0 21px;
}
.movie-list__table__tr2{
    font-size: 22px;
    font-weight: 100;
    color: #fff;
    background: #4b4d4f;
    padding: 19px 0;
    margin: 0 0 21px;
}

.first_colomn  td:first-child{
    text-align: center;
}

/*Тут нужно сделать приоритет классу*/
.text-center th:first-child{
    
    text-align: center;
}
/*ширина колонок*/
.widthcolomn {
    padding-inline: 25px;
}
.widthcolomn__firstcolomn{
    width: 180px;
}
/*хзчтоэт*/
.disclaimer {
    margin: 30px auto 0;
    max-width: 830px;
    padding: 0px 0 0px; /*90px 0 60px;*/
}

.inlineblock{
    display: inline-block;
}


  