html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address,big, cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, button
h1, h2, h3,h4, h5, h6, p, div, section, header, a, blockquote, b, aside
{
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/**Подключаем шрифты**/
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
}
html{
    font-size: 20px;
    -webkit-text-size-adjust: 100%;
}
/***Шапка***/
.background-top{
    padding-top: 3.125rem;
    background-image: url(../img/background_top.jpg);
    background-size: cover;
    height:42.45rem;
    width: auto; 
    position: relative;
    overflow: hidden;
}
.header-logo{
    flex: 1; 
}
.header-flex{
    max-width: 51.375rem;
    margin: auto;
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.header-menu li{
    font-size: 0.8em;
    font-family: 'Roboto-Thin';
    display: inline-block;
    padding-right: 0.7rem;
}
.header-flex a{
    color: #fff;
}
.header-flex a:hover{
    color: #90d23d;
}
.main{
    font-family: 'Roboto-Thin';
    text-align: center;
    color: #fff; 
}
.main-h1{
    font-size: 4.6745em;
    font-weight: 100;
    line-height: 0.85;
    -moz-transform: matrix( 0.85646517969581,0,0,0.85570991939625,0,0);
    -webkit-transform: matrix( 0.85646517969581,0,0,0.85570991939625,0,0);
    -ms-transform: matrix( 0.85646517969581,0,0,0.85570991939625,0,0);
}
.main-h2{
    font-family: 'Roboto-Regular';
    font-size: 2.92155em;
    line-height: 1.2;
    -moz-transform: matrix( 0.85,0,0,0.85,0,0);
    -webkit-transform: matrix( 0.85,0,0,0.85,0,0);
    -ms-transform: matrix( 0.85,0,0,0.85,0,0);
}
/***Почему мы***/
.why-we{
    max-width: 51.5rem;
    margin: auto;
    overflow: hidden;
}
.why-we-h2{
    font-family: 'Roboto-Black';
    font-size: 2.5em;
    text-align: left;
    font-weight: 500;
    margin-bottom: 6rem; 
}
/**section**/
.why-we-section{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: auto;
    flex-direction: inherit;
 } 
.why-we-section section{
    text-align: center;
    margin: 0 1.1rem;
}
/*картинки*/
.img-warp{
    height: 10.55rem;
    position: relative;
    margin-bottom: 1.8rem;
}  
.img-warp img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.section{
    /*margin-left: 37,5px;*/
    max-width: 14.5rem;
    max-height: auto;
}
.section h3{
    font-size: 1.75rem;
    font-family: 'Roboto-Black';
    color: rgb(36, 36, 36);
    line-height: 1.2;
    text-align: center;
    font-weight: 900;
    margin-bottom: 1rem;
}
section p{
    font-size: 0.7rem;
    font-family: 'Roboto-Thin';
    }
/**Welcome**/ 
.welcome{
    font-size: 1rem;
    font-weight: 100; 
    width: 25.75rem; 
    padding: 1.7rem 3rem 1.3rem 1.5rem;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    position: absolute;
    top: 32.3rem;
    left: 38.1rem;
    z-index: 145;
}
.welcome h3{
    font-family: 'Roboto-Black';
    text-align: left;
    padding-bottom: 1.4rem; 
    font-size: 1.95em;  
}
.welcome_text-block {
    font-family: 'Roboto-Thin';
    padding-bottom: 0.8rem;
}
/**Таблица фильмов**/
.movie-list{
    max-width: 51.5rem;
    margin: auto;
    overflow: hidden;
}
.movie-list a{
    color: #fff;
}
.movie-list_h2{
    font-family: 'Roboto-Black';
    font-size: 2.5em;
    text-align: center;
    font-weight: 500;
    margin-top: 5rem; 
    margin-bottom: 3.85rem;
    color: #000000; 
}
.movie-list_table{
    font-family:'Roboto-Regular';
    width: 51.5rem;
    border-collapse: collapse;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    overflow: hidden;
    color: #fff;
    
}
.movie-list_table__header th{
    font-family: 'Roboto-Bold';
    font-weight: 100;
    font-size: 1.5em;
    background: #a3cc40;
    padding-top: 0.95rem;
    padding-bottom: 0.95rem;
    padding-left: 0.25rem;
    text-align: left;
}
.movie-list_table__body td{
    font-size: 1.1em;
    padding-top: 0.95rem;
    padding-bottom: 0.95rem;
    text-align: left;
}
/*первая колонна*/
.movie-list_table__header th:first-of-type{
    text-align: center;
}
.movie-list_table__body td:first-of-type{
    text-align: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
/*'+'*/
.movie-list_table__body td:last-of-type{
    padding-left: 3.05rem;
    padding-right: 1.6rem;
    padding-top: 0.95rem;
}
.movie-list_table__body tr:nth-child(3n+1){
    background: #373737;
}
.movie-list_table__body tr:nth-child(3n+2){
    background: #4b4d4f;
}
.movie-list_table__body tr:nth-child(3n+3){
    background: #6c6c6c;
}
/*закругление последней строки*/
.last-line tr:last-child td:nth-child(1){
    border-bottom-left-radius: 0.75rem;
}
.last-line tr:last-child td:nth-child(4){
    border-bottom-right-radius: 0.75rem;
}
/*описание таблицы*/
.movie-list__table__undertable td{
    color: #000000;
    font-size: 0.7rem;
    padding-top: 1.95rem;
    padding-bottom: 7.3rem;
    text-align: center;
    font-weight: 900;
    font-family: 'Roboto-Thin';
} 
/***Подарок каждому***/
.present-background{
    background-image: url(../img/background_two.jpg);
    background-size: cover;
    width: auto;
    min-height: 35rem;
}
/***!!!!***/
.present-background::after{
    display: block;
}
/****Доделай!****/
.present-img{
    position: absolute;
    top: 108.5rem;
    left: 10.3rem;

}
.present-block{
    max-width: 51.5rem;
    margin: auto;
    overflow: hidden;
    text-align: right;
}
.present-block-h2{
    margin-top: 7rem;
    margin-bottom: 2.5rem;
    font-family: 'Roboto-Black';
    font-size: 2.5em;
    color: #fff;
}
.present-block p{
    font-size: 0.7em;
    color: #fff;
    padding-bottom: 0.95rem;
    padding-left: 18rem;
} 
.present-block_button{  
    font-family: 'Roboto-Thin';  
    text-align: center;
    background: #a3cc40;
    border-radius: 0.75rem;
    margin-top: 1.55rem;
    padding: 0.8rem 1rem;
    width: 11rem;
    margin-left: auto;
    margin-right: 0.15rem;
    overflow: hidden;
    }
.present-block_button a{
    color: #fff;
    font-size: 1em;
}
/***Сетка фильмов***/
.movie-grid{
    min-height: 80vh;
    max-width: 48.5rem;
    margin: auto;
    overflow: hidden;
    margin-bottom: 2.5rem;
}
.movie-grid_header{

    margin-top: 4.3rem; 
}
.movie-grid_header h2{
    font-family: 'Roboto-Black';
    font-size: 2.5em;
    text-align: left;
    font-weight: 500;
    color: #000000;  
}
.movie-grid_header p{
    margin-top: 1.75rem;
    margin-bottom: 3.95rem;  
}
.movie-grid_flex{
    width: 48.75rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    box-sizing: border-box;
}

.movie-grid_item{
    position: relative;
    overflow: hidden;
}

/*всплывающее описание*/
.movie-grid_description {
    color:white;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    bottom: -100%;
    background: rgba(144, 210, 61,.8);
    border-radius: 0.55rem;
    padding-top: 1rem;
    padding-left: 1.15rem;
    padding-right: 1.15rem;
    padding-bottom: 1.1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: .2s; 
}
/*всплывание*/
.movie-grid_item:hover .movie-grid_description{
    bottom: 0;
}
.movie-name{
    font-family: 'Roboto-Black';
    font-size: 1.8rem;
}
.movie-line{
    
    height: 0.4rem;
    width: 4rem;
    border: 0;
    box-shadow: none;
    background: white;
    margin: 0.25rem 0 0.7rem;
}
.movie-text{
    font-size: 0.9em;
    font-family: 'Roboto-Regular';
    flex: 1;
}
.movie-links{
    margin-left: 0.55rem;
}
.movie-links_svg svg{
    fill:white;
    transition: .2s;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1.6rem;
}
.movie-links_svg svg:hover{
    box-shadow: none;
}
/***подвал***/
.footer-bg{
    background: #90d23d;
    height: 33.5rem;
    max-width: auto;
}
.footer-map{
    height: 22.5rem;
    width: auto;
}
.footer-links{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-links svg{
    fill: white;
    transition: .2s;
    margin: 1px 5px;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1.6rem;
}
.link-color:hover svg{
    box-shadow: none;
}
#footer-text{
    margin: 1.3rem auto;
    max-width: 18.5rem;
    text-align: center;
    color: white;
    font-family: 'Roboto-Thin', sans-serif; 
}


