html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address,big, cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, button
h1, h2, h3,h4, h5, h6, p, div, section, header, a, blockquote, b
{
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/***Ссылки***/
a {
    color: white;
}
/* зеленый пр наведении шапка */
ul a:hover{
    color: #a3cc40;
}
/*черный при наведении остальное*/
a:hover{
    color: #252525;
}
/*Откл. подчеркивание*/
.text_normal{
    text-decoration: none;
}


/*** I***/
/*Шапка*/
.flex1{
    display: -webkit-inline-flex;
    align-items: center;
    margin-top: 54px;
    margin-left: 170px;
} 
.flex1 ul{
    list-style: none;
    text-align: right
}
.flex1 li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.background_top{
    background-image: url(../img/top_bg.jpg);
    height: 769px;
    width: auto;
} 


/*Для основного текста на сайте*/
.simpletext{
    font-size: 14px;
    font-weight: 100;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}
/*III. Почему мы?*/
.iii{
    padding-left: 170px;
    padding-right: 170px;
}
.block_why{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
/*IV. Таблица фильмов*/
.movie-list{
    max-width: 1030px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}
h2 {
    font-size: 50px;
    color: #252525;
    font-weight: 700;
}
.movie-list__header{
    margin: 0 0 76px;
    text-align: center;
}
.movie-list__table{
    width: 1030px;
    border-collapse: collapse;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.movie-list__table th{
    font-size: 22px;
    font-weight:900;
    color: #fff;
    background: #a3cc40;
    padding: 21px 0;
    text-align: left;
}
.movie-list__table th:first-child{
    text-align: center;
}
.first_colomn  td:first-child{
    text-align: center;
}
tr {
    font-size: 22px;
    font-weight: 100;
    color: #fff;
    margin: 21px 21px;
}
tr:nth-child(3n+1){
    background: #373737;
}
tr:nth-child(3n+2){
    background: #4b4d4f; 
}
tr:nth-child(3n+3){
    background: #797979;
}
.last_line tr:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.movie-list__table__undertable tr{
    font-size: 14px;
    font-weight: 100;
    color: gray;
    background: white;
    padding-top: 40px;
}
/*ширина колонок*/
.widthcolomn {
    padding-inline: 25px;
}
.widthcolomn__firstcolomn{
    width: 180px;
}
/*описание таблицы*/
.disclaimer {
    margin: 30px auto 0;
    max-width: 830px;
    padding: 0px 0 0px; /*90px 0 60px;*/
}
/*Получить подарок*/
.background2{
    background: url(../img/b4_bg.jpg);
    height: 700px;
}
.movies_flex{
padding-left: 200px;
padding-right: 200px;
}
.movies_flex h2{
    padding-top: 90px; 
}
.movies_flex p{
    padding-top: 50px;
    padding-bottom: 80px;
}
  