@media (max-width:1200px)
{
    section p{
        font-size: 0.9rem;
    }
}
@media (max-width:1000px)
{
    html{
        font-size: 0.75rem;
    }
    .present-img{
        display: none;
    }
}
@media (max-width:800px)
{
    .background-top{
        margin: 0 auto;
        padding: 0 0.75rem;
    }
    .header-menu{
        font-size: 1rem;
    }
    /*уменьшение ширины и скролл у ячеек таблицы*/
    .movie-list_table__body td{
        font-size: 1rem;
        overflow-y:scroll
    }
    /* обратный порядок преимуществ */
    .why-we-section{
        flex-direction: row-reverse;
    }
    .ucity{
        display: none;
        font-family: 'Roboto';
    }
}
@media (min-width:1000px)
{
    .movie-line {
        height: 0.2rem;
        width: 4rem;
        margin: -0.15rem 0 0.2rem;
    }
    .movie-text {
        font-size: 0.7em;
    }
    .movie-name {
        font-size: 1.1rem;
    }
    .movie-grid_description {
        padding-top: 0rem;
        padding-left: 0.15rem;
        padding-right: 0.15rem;
        padding-bottom: 0.1rem;
    }
}
@media (max-width:600px){
    .background-top{
        width: 50em;
    }
    .background-top::after {
        border-left: 50em solid transparent;
    }
    .present-background{
        width: 50em;
    }
    .footer-bg{
        width: 50em;
    }
}
